#gameover {
    text-align: center;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    background-color: 	#1e1e1e;
    border-radius: 10px;
}
 #gameover h2 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 2rem;
    color:#6a6767;
    padding: 1rem;

 }
 .pontos {
    width: 29rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 0.5rem;
    border-radius: 5px;
}
.pontos p {
    color: #0da526;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1rem;
    
    padding-top: -1rem;
    padding-bottom: 3rem;
    font-size: 2rem;
}
 
#butao {
    margin-left: 0rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 20rem;
}