.option {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6a6767;
    min-width: 100px;
    max-width: 80%;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 25% 25%;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s;
}

.option:hover{
    opacity: 1;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color:#00ff00;
    color: black;
}

.wrong {
    background-color: #383838;
    opacity: 0.4;
}	